html, body {
    margin: 0;
    background-color: #2F4F30;
    color: white;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    line-height: 1.5;
}


.header__titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2rem 0;
    font-size: 2.5rem;
}

#computadora-cartas, #jugador-cartas {
    height: 25rem;
}

.carta {
    position: relative;
    width: 15rem;
    left: 10rem;
    margin-left: -7.5rem;  
}